<div class="row">
  <div class="col-8 my-5 mx-auto">
    <h2><%= @article.title %>
      <%= link_to edit_article_path(@article) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to article_path, method: :delete do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </h2>
    <hr>
    <p><%= @article.content %></p>
  </div>
</div>
